body{
    background-color: green;
    color: yellow;
    font-family: "Philosopher", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
}

button{
    background-color: rgb(53, 177, 22);
    color: #080808;
    font-family: "Philosopher", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

img{
    max-width: 50%;
    display: flex;
    padding-bottom: 20px;
}

h1{
    color: red;
}
